<h1>Edit Person</h1>
<p>
  <%= form_for(@person) do |p| %>
    <p>
      <%= p.label :name %>
      <%= p.text_field :name %>
    </p>
    <p>
      <%= p.label :email %>
      <%= p.text_field :email %>
    </p>
    <p>
        <%= p.submit "Save", class: "btn btn-large btn-primary" %>
    </p>
  <% end %>
</p>
